.publication-view-container {
  width: 1248px;
  margin: 40px auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  .title-container {
    .title-section {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-between;

      .title {
        width: "100%";
        font-family: "Poppins-Bold", sans-serif;
        font-size: 48px;
        margin-bottom: 16px;
      }

      .title-btns {
        display: flex;
        flex-direction: row;
        gap: 16px;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 16px;

      margin-bottom: 32px;
    }
  }

  .publications-previews-container {
    display: flex;
    flex-direction: column;

    .status {
      align-self: center;
      font-size: 14px;
      margin-bottom: 16px;

      .colour {
        color: #008080;
        font-weight: bold;
      }
    }

    .variant-summary {
      width: 40%;
      align-self: center;
    }

    .publication-previews {
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border: 1px solid #e2f9f9;
      margin-top: 32px;

      .publication-archive-link {
        color: #008080;
        font-size: 14px;
        margin-bottom: 8px;
        cursor: pointer;
        align-self: flex-end;

        &:hover {
          text-decoration: underline;
        }
      }

      .header {
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        background-color: #008080;
        color: white;

        padding: 16px;

        .header-title {
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }

  .modal {
    width: 70%;

    .publication-updates-container {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;

      .publication-updates-description {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: -16px;
      }

      p {
        width: 100%;
      }

      .calendar {
        margin-top: 16px;
        margin-bottom: 32px;
      }

      .publication-update-info-with-update {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 80%;

        .publication-date-checked-container {
          display: flex;
          flex-direction: row;
          gap: 8px;

          .publication-date-checked {
            font-weight: bold;
          }
        }

        .publication-updates {
          margin-left: 32px;
          display: flex;
          flex-direction: column;
          gap: 16px;

          .publication-update {
            .pub {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }

            .manual-add {
              display: flex;
              justify-content: flex-end;

              .pub-archive-profile-icon {
                * {
                  fill: #008080;
                }
              }
            }

            background-color: #fff;
            border: 2px solid #008080;
            color: #008080;
            box-sizing: border-box;

            padding: 16px;
            border-radius: 8px;

            &.link {
              cursor: pointer;

              &:hover {
                background-color: #008080;
                color: #fff;

                .manual-add {
                  .pub-archive-profile-icon {
                    * {
                      fill: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .add-pub-modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .add-publications-btn {
      margin-top: 8px;
      display: flex;
      justify-content: center;
    }
  }

  .confirm-delete-modal {
    width: 50%;
    line-height: 28px;

    .confirm-delete-modal-content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .option-btns {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
      }
    }
  }

  @page {
    size: auto;
    margin: 50px !important;
  }

  @media print {
    width: 80%;

    .download-btn,
    .add-publications-header-btn,
    .header,
    .description > .instructions,
    .publication-archive-link {
      display: none !important;
    }

    .variant-summary {
      width: 100% !important;
    }

    .publication-preview-contents {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    .publication-previews {
      border: none !important;
    }
  }
}
