.vus-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;

  .vus-info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .info-title {
      min-width: 200px;
      color: #008080;
      font-weight: bold;
    }

    .info {
      display: flex;
      flex-direction: row;
    }

    .top-container {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-between;

      .information {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }
}
