.vus-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;

  .bullet {
    color: #008080;
  }

  .vus-info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .vus-summary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-self: center;
      gap: 16px;
      width: 40%;

      .classification {
        padding: 8px 32px;
        border-radius: 32px;
        color: #fff;
        font-weight: bold;

        &.likely-pathogenic {
          background-color: orangered;
        }

        &.pathogenic {
          background-color: rgb(251, 67, 67);
        }

        &.vus {
          background-color: #008080;
        }

        &.likely-benign {
          background-color: rgb(93, 155, 93);
        }

        &.benign {
          background-color: green;
        }
      }
    }

    .info-title {
      min-width: 200px;
      color: #008080;
      font-weight: bold;
    }

    .info {
      display: flex;
      flex-direction: row;

      &.info-publications {
        background-color: #008080;
        border-radius: 20px;
        padding: 8px;

        .info-title {
          color: #fff;
        }
      }
    }

    .top-container {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-between;

      .information {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .pub-icon {
      padding: 0 4px;
    }

    .pub-icon,
    .external-link {
      cursor: pointer;
      border-radius: 4px;

      svg {
        fill: #008080;
      }
    }

    .external-link.active,
    .pub-icon {
      &:hover {
        background-color: #008080;

        svg {
          fill: #fff;
        }
      }
    }

    .external-ref {
      display: flex;
      flex-direction: row;
      gap: 40px;

      .external-ref-title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .external-link {
          padding: 4px;

          &.disabled {
            opacity: 0.4;
            background-color: #8f8e94 !important;
            pointer-events: none;
          }

          &.unverified-rsid {
            opacity: 0.8;

            svg {
              fill: #a51534;
            }

            &:hover {
              background-color: #a51534;

              svg {
                fill: #fff;
              }
            }
          }
        }
      }

      .info-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: #fff;
        width: 50%;

        .info {
          display: flex;
          flex-direction: column;
          gap: 16px;
          background-color: #008080;
          padding: 16px;
          border-radius: 4px;
          font-size: 14px;

          &.disabled {
            opacity: 0.6;
            background-color: #8f8e94 !important;
          }

          &.unverified-rsid {
            opacity: 0.6;
            background-color: #a51534 !important;
          }

          .rsid-information {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .edit-rsid-icon {
              fill: #fff;
              cursor: pointer;
              padding: 3px;
              border-radius: 4px;
              &:hover {
                background-color: #fff;

                svg {
                  fill: #008080;
                }
              }
            }
          }

          .information {
            display: flex;
            flex-direction: row;

            .info-title {
              min-width: 150px;
              color: #fff;
            }

            .rsid-errors {
              display: flex;
              flex-direction: column;
              gap: 8px;

              .rsid-error {
                display: flex;
                flex-direction: row;
                gap: 16px;

                .bullet {
                  color: #fff;
                }
              }
            }
          }
        }

        .clinvar-archive-link {
          color: #008080;
          font-size: 14px;
          margin-top: -8px;
          width: fit-content;
          align-self: end;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        .rsid-update-btn > button {
          width: 100%;
        }
      }
    }

    .acmg-rules {
      .acmg-rules-info {
        display: flex;
        flex-direction: column;
        gap: 32px;
        background-color: #008080;
        border-radius: 4px;
        padding: 16px;

        &.acmg-edit-open {
          min-height: 270px;
        }

        .acmg-rules-edit {
          color: #fff;
        }

        .acmg-info {
          background-color: #fff;
          flex-shrink: 0;
          border-radius: 4px;
          border: 2px solid #fff;
          width: 40%;
          align-self: center;
        }
      }

      .info-description-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }

    .acmg-rules,
    .samples-container,
    .phenotypes-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .samples,
    .phenotypes {
      display: flex;
      flex-direction: column;
      border: 2px solid #008080;
      border-radius: 4px;
      font-size: 14px;
      overflow: auto;

      > :not(:last-child) {
        border-bottom: 1px solid #008080;
      }
    }

    .sample,
    .phenotype-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      padding: 16px 8px 16px 16px;
      width: 100%;
      box-sizing: border-box;
      background-color: #fff;
    }

    .sample-id,
    .phenotype {
      &:hover {
        color: #008080;
      }
    }

    .samples-container {
      .samples {
        background-color: #fff;

        .samples-header {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: #008080;
          font-weight: bold;
          border-width: 4px;

          .delete-sample {
            padding-top: 16px;
            padding-bottom: 8px;
            margin: 0 8px 0 16px;
          }

          span {
            width: calc(100% / 3);
            padding: 16px 16px 8px 16px;
            text-align: center;
            box-sizing: border-box;
          }
        }

        .sample {
          align-items: center;
          padding: 0 8px 0 0;

          .sample-info {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            span {
              width: calc(100% / 3);
              padding: 16px;
              text-align: center;
            }

            .sample-id {
              cursor: pointer;
            }
          }

          .checkbox {
            accent-color: #a51534;
            cursor: pointer;
          }
        }
      }

      .remove-sample-button,
      .add-sample-button {
        width: 100%;

        button {
          width: 100%;
        }
      }

      .remove-sample-button {
        button {
          background-color: #a51534;
          color: #fff;
          border-color: #a51534;

          &:hover {
            background-color: #fff;

            color: #008080;
            border-color: #008080;
          }
        }
      }
    }

    .phenotypes-container {
      &.phenotypes-populated {
        cursor: pointer;
      }
    }

    .info-description {
      font-size: 14px;
      margin-bottom: -8px;
      line-height: 28px;
    }
  }

  .clinvar-updates {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    .clinvar-updates-description {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: -16px;
    }

    p {
      width: 100%;
    }

    .calendar {
      margin-top: 16px;
      margin-bottom: 32px;
    }

    .clinvar-update-info-with-update {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 90%;

      .clinvar-date-checked-container {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .clinvar-date-checked {
          font-weight: bold;
        }
      }

      .clinvar-update {
        margin-left: 32px;

        background-color: #fff;
        border: 2px solid #008080;
        color: #008080;
        box-sizing: border-box;
        padding: 16px;
        border-radius: 8px;
      }
    }
  }

  .error {
    color: rgb(142, 27, 27);
    font-size: 12px;
  }

  .remove-samples-modal,
  .add-new-sample-modal,
  .add-samples-modal {
    &.show-sample-info {
      width: 90%;

      .sample-to-add {
        min-height: 150px;
      }
    }

    .remove-samples-modal-content,
    .add-new-sample-modal-content,
    .add-samples-modal-content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .option-btns {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
      }

      .not-variant-samples {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        > :not(:last-child) {
          border-bottom: 1px solid #008080;
        }

        .sample-to-add {
          display: flex;
          flex-direction: row;
          gap: 32px;
          padding: 24px 16px 24px 0;

          .error {
            margin-left: 36px;
            padding-top: 8px;
          }

          .summary {
            width: 30%;
          }

          .info {
            display: flex;
            flex-direction: row;
            gap: 16px;

            &.phenotypes {
              flex-grow: 1;

              [class*="sample-phenotype-selection-container"] {
                flex-grow: 1;
                height: fit-content;
              }
            }

            .info-title {
              font-weight: bold;
            }

            .pills {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 2px;

              .pill {
                width: 100%;
                padding: 4px 8px;
                border-radius: 24px;
                border: 2px solid #008080;
                background-color: #fff;
                display: flex;
                flex-direction: row;
                justify-content: center;
                cursor: pointer;
                box-sizing: border-box;

                &:hover,
                &.selected-pill {
                  background-color: #008080;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  .update-rsid-confirmation-modal {
    width: 30%;

    .update-rsid-confirmation-modal-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
      align-items: center;
      line-height: 28px;

      .update-rsid {
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-bottom: 8px;

        p {
          margin: auto 0;
        }

        .rsid-input {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }

      .option-btns {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
      }
    }
  }
}
