.dropdown-container {
  position: relative;

  .input-container {
    position: relative;

    .input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      background-color: #008080;
      border-radius: var(--border-radius);
      color: #fff;
      padding: 16px;
      font-size: 14px;
      line-height: 21px;

      &::placeholder {
        color: #e2f9f9;
        font-weight: bold;
      }
    }

    .chev {
      position: absolute;
      fill: #fff;
      right: 0;
      padding: 9px 16px;
      cursor: pointer;
    }
  }

  .dropdown-content-container {
    position: absolute;
    width: calc(100% + 16px);
    border-radius: 4px;
    font-size: 14px;

    display: flex;
    flex-direction: column;

    max-height: 150px;
    overflow: auto;
    z-index: 100;
    border: 4px solid #008080;
    background-color: #fff;

    > :not(:last-child) {
      border-bottom: 0.5px solid #008080;
    }

    > * {
      padding: 8px;
      cursor: pointer;

      &:hover {
        background-color: #cfe7e7ca;
      }
    }
  }
}
