.view-vus-container {
  position: relative;

  &.coloured {
    .header,
    .additional-info {
      background-color: #e2f9f9;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    cursor: pointer;
    background-color: #fff;

    .header-content,
    .pills {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px;
      text-align: center;
      width: calc(100% / 7);
      box-sizing: border-box;
    }

    &.genotype-included {
      .header-content,
      .pills {
        width: calc(100% / 8);
      }
    }

    .pills {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      height: 100%;
      gap: 4px;
      width: 195px;

      .pill {
        font-size: 10px;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 40px;
        color: #fff;
        width: fit-content;
        height: fit-content;

        &.disabled {
          opacity: 0.4;
          background-color: #8f8e94 !important;
        }

        &.unverified-rsid {
          opacity: 0.8;
          background-color: #A51534 !important;
        }

        &.active {
          z-index: 100;

          &:hover {
            background-color: #008080;
          }
        }

        &.clinvar {
          background-color: #7E0062;
        }

        &.dbsnp {
          background-color: #14045e;
        }
      }

      .pub-icon {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        padding: 2px;
        fill: #008080;
        z-index: 100;
        margin-left: 8px;

        &:hover {
          fill: #fff;
          background-color: #008080;
        }
      }
    }

    &:hover {
      background-color: #cfe7e7ca !important;
    }
  }

  .additional-info {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;

    .additional-info-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      border-top: 0.5px dashed #008080;
      border-left: 4px solid #008080;
      border-right: 4px solid #008080;

      .info-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #fff;
        padding: 8px;
        border-radius: 4px;
        opacity: 0.8;

        p {
          margin: 0;
        }

        &.clinvar-info {
          background-color: #7E0062;
        }

        &.dbsnp-info {
          background-color: #14045e;
        }

        &.disabled {
          opacity: 0.6;
          background-color: #8f8e94 !important;
        }

        &.unverified-rsid {
          opacity: 0.6;
          background-color: #A51534 !important;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-left: 16px;

          > * {
            font-size: 14px;
          }

          .information {
            display: flex;
            flex-direction: row;

            .info-title {
              font-weight: bold;
              min-width: 150px;
            }
          }
        }
      }
    }
  }

  .visible-additional-info {
    max-height: 1000px;
    transition: max-height 1.25s ease-in;
    transition-delay: 0ms;
  }
}
