.view-all-samples-container {
  width: 1248px;
  margin: 40px auto;

  .title {
    width: "100%";
    font-family: "Poppins-Bold", sans-serif;
    font-size: 48px;
    margin-bottom: 16px;
  }

  .description {
    margin-bottom: 32px;
  }

  .samples-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 70%;
  }
}
