.acmg-rule-info-container {
  border: 2px solid #008080;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  position: -webkit-sticky; //* Safari */
  position: sticky;
  top: 20px;

  .title,
  .strength {
    color: #008080;
    text-align: center;
  }

  .title {
    font-weight: bold;
  }

  .description,
  .strength {
    font-size: 12px;
  }

  .description {
    text-align: justify;
    text-justify: inter-word;
  }

  .strength {
    margin-top: 4px;
  }
}
