.vus-page-container {
  width: 1248px;
  margin: 40px auto;

  .title-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;

    .title {
      width: "100%";
      font-family: "Poppins-Bold", sans-serif;
      font-size: 48px;
      margin-bottom: 16px;
    }

    .description {
      margin-bottom: 32px;
    }

    .option-container {
      position: relative;
      display: inline-block;
      cursor: pointer;
      height: fit-content;
      padding: 4px;

      .option-btn {
        padding: 8px 16px;
        color: #f7f7f5;
        background-color: #008080;
        border-radius: 4px;
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        svg {
          fill: #fff;
        }
      }

      .options {
        display: none;
        position: absolute;
        min-width: 100%;
        right: -8px;
        top: 48px;
        background-color: #008080;
        z-index: 200;
        padding: 8px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-radius: 4px;

        .option {
          display: block;
          text-decoration: none;
          cursor: pointer;
          text-wrap: nowrap;
          color: #fff;
          padding: 8px;
          border-radius: 4px;

          &:hover {
            background-color: #fff;
            color: #008080;
          }
        }
      }

      &:hover {
        .options {
          display: block !important;

          .option-btn {
            background-color: #f7f7f5;
            color: #008080;
            border-color: #008080;
          }
        }
      }
    }
  }
}
