.view-vus-container {
  position: relative;

  &.coloured {
    .header,
    .additional-info {
      background-color: #e2f9f9;
    }
  }

  &.clickable {
    .header {
      cursor: pointer;

      &:hover {
        background-color: #cfe7e7ca !important;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    color: black;
    background-color: #fff;

    .checkbox {
      margin-right: 16px;
      accent-color: #008080;
      cursor: pointer;
    }

    .header-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px;
      text-align: center;
      width: calc(100% / 7);
      box-sizing: border-box;
    }
  }
}
