.view-vus-container {
  position: relative;

  &.coloured {
    .header {
      background-color: #e2f9f9;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    cursor: pointer;
    background-color: #fff;

    .header-content {
      height: 100%;
      vertical-align: middle;
      padding: 16px;
      text-align: center;
      box-sizing: border-box;

      &.id {
        flex-grow: 1;
        text-align: left;
        padding-left: 32px;
      }

      &.variants,
      &.date {
        flex-shrink: 0;
        width: 150px;
      }

      &.variants {
        width: 150px;
      }

      &.date {
        width: 200px;
      }
    }

    &:hover {
      background-color: #cfe7e7ca !important;
    }
  }
}
