.sample-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;

  .sample-info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .info-title {
      min-width: 200px;
      color: #008080;
      font-weight: bold;
    }

    .info {
      display: flex;
      flex-direction: row;
    }

    .top-container {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-between;

      .information {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .phenotypes,
    .sample-variant-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .phenotypes {
      width: 80%;
    }

    .sample-variant-container {
      .sample-variant-container-content {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .variants-container {
          background-color: #008080;
          color: #fff;
          border-radius: 4px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          font-size: 14px;
          box-sizing: border-box;
          width: 100%;

          .variants {
            > :not(:last-child) {
              border-bottom: 1px solid #fff;
            }
          }

          .variant-titles,
          .variant,
          .variant-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 32px;

            .variant-summary {
              width: 600px;
            }

            .genotype {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              min-width: 80px;
            }
          }

          .variant-titles {
            font-weight: bold;
            padding-bottom: 4px;
            padding-left: 56px;
          }

          .variant {
            padding: 16px 0px;

            .external-link {
              cursor: pointer;
              border-radius: 4px;
              flex-shrink: 0;

              svg {
                fill: #fff;
              }

              &:hover {
                background-color: #fff;

                svg {
                  fill: #008080;
                }
              }
            }

            .variant-info-container {
              display: flex;
              flex-direction: column;
              gap: 8px;
            }

            .uploads {
              display: flex;
              flex-direction: column;
              gap: 4px;

              .upload {
                display: flex;
                flex-direction: row;
                gap: 8px;

                .bullet {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
