.sample-info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;

  .sample-info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .info-title {
      min-width: 200px;
      color: #008080;
      font-weight: bold;
    }

    .info {
      display: flex;
      flex-direction: row;
    }

    .top-container {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-between;

      .information {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .phenotypes,
    .sample-variant-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .phenotypes {
      width: 80%;
    }

    .sample-variant-container {
      .sample-variant-container-content {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .variants-container {
          background-color: #008080;
          color: #fff;
          border-radius: 4px;
          padding: 16px;
          display: flex;
          flex-direction: column;
          font-size: 14px;
          box-sizing: border-box;
          width: 100%;

          .variants {
            > :not(:last-child) {
              border-bottom: 1px solid #fff;
            }
          }

          .variant-titles,
          .variant,
          .variant-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 32px;

            .variant-summary {
              width: 600px;
            }

            .genotype {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              min-width: 80px;
            }

            .hgvs {
              display: flex;
              flex-direction: row;
              gap: 8px;
              align-items: center;

              .hgvs-edit,
              .hgvs-edit-close {
                border-radius: 8px;
                cursor: pointer;

                &:hover {
                  background-color: #fff;
                }
              }

              .hgvs-edit {
                padding: 4px;

                &:hover {
                  svg {
                    fill: #008080;
                  }
                }
              }

              .hgvs-edit-close {
                &:hover {
                  svg {
                    stroke: #008080;
                  }
                }
              }

              .hgvs-updated {
                font-size: 12px;
                background-color: #e2f9e2;
                color: #008080;
                border-radius: 4px;
                padding: 2px 4px;
              }
            }
          }

          .variant-titles {
            font-weight: bold;
            padding-bottom: 4px;
            padding-left: 56px;

            .delete-variant {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              flex-grow: 1;
              padding-right: 16px;
            }
          }

          .variant {
            padding: 16px 0px;

            .external-link {
              cursor: pointer;
              border-radius: 4px;
              flex-shrink: 0;

              svg {
                fill: #fff;
              }

              &:hover {
                background-color: #fff;

                svg {
                  fill: #008080;
                }
              }
            }

            .variant-info-container {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              padding-right: 16px;

              .checkbox {
                accent-color: #a51534;
                cursor: pointer;
                height: fit-content;
              }
            }

            .uploads {
              display: flex;
              flex-direction: column;
              gap: 4px;

              .upload {
                display: flex;
                flex-direction: row;
                gap: 8px;

                .bullet {
                  color: #fff;
                }
              }
            }
          }
        }
      }

      .remove-variant-button,
      .add-variant-button {
        width: 100%;

        button {
          width: 100%;
        }
      }

      .remove-variant-button {
        button {
          background-color: #a51534;
          color: #fff;
          border-color: #a51534;

          &:hover {
            background-color: #fff;

            color: #008080;
            border-color: #008080;
          }
        }
      }
    }
  }

  .remove-variants-modal,
  .confirm-update-modal {
    width: 50%;
  }

  .add-variants-modal {
    width: 80%;

    .add-variants-modal-content {
      .not-sample-variants {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        > :not(:last-child) {
          border-bottom: 1px solid #008080;
        }

        .variant-to-add {
          display: flex;
          flex-direction: row;
          gap: 32px;
          padding: 24px 16px;

          .summary {
            width: 50%;
          }

          .info {
            display: flex;
            flex-direction: row;
            gap: 16px;

            span {
              font-weight: bold;
            }

            .pills {
              width: 100%;
              display: flex;
              flex-direction: column;
              gap: 2px;

              .pill {
                width: 100%;
                padding: 4px 8px;
                border-radius: 24px;
                border: 2px solid #008080;
                background-color: #fff;
                display: flex;
                flex-direction: row;
                justify-content: center;
                cursor: pointer;
                box-sizing: border-box;

                &:hover,
                &.selected-pill {
                  background-color: #008080;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  .remove-variants-modal-content,
  .confirm-update-modal-content,
  .add-variants-modal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .option-btns {
      display: flex;
      flex-direction: row;
      gap: 32px;
      justify-content: center;
    }
  }
}
