.sample-phenotype-selection-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #008080;
  border-radius: 4px;

  .phenotypes-selected {
    flex-shrink: 0;
    font-size: 14px;
    background-color: #fff;

    overflow: auto;
    display: flex;
    flex-direction: column;

    > :not(:last-child) {
      border-bottom: 0.5px solid #008080;
    }

    .phenotype {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 16px 8px 16px 16px;
      box-sizing: border-box;

      svg {
        flex-shrink: 0;
        cursor: pointer;
      }

      .phenotype-term {
        cursor: pointer;

        &:hover {
          color: #008080;
        }
      }
    }
  }
}
