SECRET_KEY=setPassword #Flask's secret key used for securely signing the session cookie and for other security related needs
POSTGRES_PASSWORD=setPassword #PostgreSQL database's password

MAIL_USERNAME=setEmail #Email from which VUSVista notifications are sent out
MAIL_PASSWORD=setPassword #Email $MAIL_USERNAME's app password

PUBLICATION_AUTO_CHECK_INTERVAL_DAYS=7 #Number of days between automatic checks for new publications for each VUS
CLINVAR_AUTO_CHECK_INTERVAL_DAYS=10 #Number of days between automatic checks for updates in ClinVar submissions for each VUS (which had a ClinVar entry on VUS upload)
FILE_UPLOAD_PROCESSING_INTERVAL_MINUTES=3 #Number of minutes between checks for unprocessed file uploads

GENE_ANNOTATION_FILE_PATH=server/db_setup/Homo_sapiens.GRCh37.87.gtf.gz #Path to gene annotation compressed file
HUMAN_GENOME_BUILD=GRCh37 #Genome build (reference assembly) used to process VUS in VUSVista