SECRET_KEY=setPassword #Flask's secret key used for securely signing the session cookie and for other security related needs
POSTGRES_PASSWORD=setPassword #PostgreSQL database's password

MAIL_USERNAME=setEmail #Email from which VUSVista notifications are sent out
MAIL_PASSWORD=setPassword #Email $MAIL_USERNAME's app password