.view-vus-container {
  position: relative;

  &.coloured {
    .header-content,
    .additional-info,
    .checkbox-wrapper {
      background-color: #e2f9f9 !important;
    }
  }

  &.clickable {
    .header {
      cursor: pointer;

      &:hover {
        background-color: #cfe7e7ca !important;
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    color: black;

    .checkbox-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 16px;

      .checkbox {
        accent-color: #008080;
        cursor: pointer;
      }
    }

    .header-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 16px;
      text-align: center;
      width: calc(100% / 7);
      box-sizing: border-box;
      flex-shrink: 0;
      background-color: #fff;
    }
  }
}
