.vus-table-container {
  border: 1px solid #e2f9f9;
  overflow-x: scroll;
  transform: rotateX(180deg); //to get horizontal scrollbar to top of table

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px #008080;
  }

  .table {
    width: 100%;
    transform: rotateX(180deg); //to get horizontal scrollbar to top of table

    .header {
      display: flex;
      flex-direction: row;
      color: white;

      &.show-checkboxes {
        padding-right: 40px;
      }

      > * {
        padding: 16px;
        text-align: center;
        width: calc(100% / 7);
        box-sizing: border-box;
        flex-shrink: 0;
        background-color: #008080;
      }

      .header-content {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .title {
          display: flex;
          flex-direction: row;
          gap: 4px;
          align-items: center;
          justify-content: space-between;

          .sort-icons {
            cursor: pointer;
            width: 16px;
            height: 16px;

            svg * {
              fill: #fff;
            }
          }
        }
      }

      .checkmark {
        margin: 0 auto;
      }
    }
  }
}
