.sample-phenotype-selection-container {
  display: flex;
  flex-direction: row;
  gap: 16;
  align-items: center;
  width: 70vw;

  .sample-id-container {
    flex-grow: 1;
    text-align: left;
    vertical-align: middle;
    padding-right: 16px;
  }

  .phenotypes-selected {
    height: 70px;
    width: 400px;
    flex-shrink: 0;
    font-size: 12px;
    border: 2px solid #008080;
    margin-right: 16px;
    overflow: auto;
    margin-top: 8px;
    display: flex;
    flex-direction: column;

    .phenotype {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: start;
      padding: 4px;

      svg {
        flex-shrink: 0;
        cursor: pointer;
      }

      span {
        padding-top: 4px;
      }
      border-bottom: 0.5px solid #008080;
    }
  }

  .phenotype-selection {
    width: 300px;
    flex-shrink: 0;
  }
}
